*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
html,
body{ 
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(132, 210, 236);
    
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2 h1{
    font-size: 35vw;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: black;
}
